---
import Default from "@/layouts/default.astro"
import NewsletterForm from "@/components/mobiflight/newsletter/form.astro"
import Container from "@/components/mobiflight/container.astro"
import Hero from "@/components/mobiflight/hero.astro"
import IconCheckCircle from "@/components/mobiflight/icons/icon-check-circle.astro"

const heroImage =
  "https://shop.mobiflight.com/wp-content/uploads/2026/02/homepage-mcp.jpg"
---

<Default
  title="MobiFlight — Soar Higher with the Ultimate Flight Sim Hardware Companion"
>
  <Hero
    headline="Stay in touch with MobiFlight"
    tagline="Subscribe to our newsletter."
    ctas={[]}
    imageSrc={heroImage}
  />
  <Container class="py-16 pb-32">
    <div class="flex flex-col gap-4 rounded-xl border bg-popover p-6 shadow-lg">
      <h2 class="text-3xl font-bold">Thank You!</h2>
      <p class="flex flex-row gap-2">
        <span class="text-primary"><IconCheckCircle /></span>You have
        successfully joined our subscriber list.
      </p>
    </div>
  </Container>
</Default>
